# Служебные папки Visual Studio
.vs/
.vscode/

# Папки сборки (для всех лабораторных)
**/x64/
**/x86/
**/Debug/
**/Release/

# Промежуточные файлы компиляции
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.recipe
*.iobj
*.ipdb

# Файлы пользователя Visual Studio
*.user
*.suo
*.cache

# Тестовые данные (опционально — можно закоммитить для примера)
# **/Input.txt
# **/Output.txt